/**
* @file 
* @date 2023-08-22
* @author xuejie.he
* @lastModify xuejie.he 2023-08-22
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../../../Constant/breakPoint.scss" as *;
@use "../../../../../Constant/font.scss" as *;
@use "../../../../../Constant/color.scss" as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
.sidebarOrgItem_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 0 1.3rem 0 1.6rem;
    height: 2.4rem;
    margin-bottom: 1.6rem;
    cursor: pointer;
    &:not(.sidebarOrgItem_active):hover {
        .sidebarOrgItem_nameText {
            color: $primary_400;
        }
    }
}

.sidebarOrgItem_name {
    flex: 1 1 auto;
    margin-left: 0.8rem;
    overflow: hidden;
}

.sidebarOrgItem_nameText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $neutral_400;
    @include body_2();
    transition: all 0.15s linear;
}

.sidebarOrgItem_personalMarker {
    padding: 0 0.4rem;
    border-radius: 5rem;
    background-color: $primary_50;
    color: $primary_600;
    font: $fs_r_12;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
}

.sidebarOrgItem_marker {
    flex: 0 0 auto;
    margin-left: 0.4rem;
}

.sidebarOrgItem_preferredMarker {
    color: $auxiliary_600;
    font: $fs_r_12;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    padding: 0 4px;
    border-radius: 5rem;
    background-color: $auxiliary_100;
}

.sidebarOrgItem_active {
    .sidebarOrgItem_nameText {
        color: $primary_600;
    }
}

.sidebarOrgItem_preferBtn {
    color: $auxiliary_600;
    padding: 0.2rem 0.8rem;
    box-shadow: $shadow_small;
    background-color: $white;
    font: $fs_r_12;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    border-radius: 4px;
    max-height: 2rem;
    display: inline-flex;
    overflow: hidden;
}
