/**
* @file  *** styles
* @date 2022-04-11
* @author xuejie.he
* @lastModify xuejie.he 2022-04-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../../../Constant/font.scss" as *;
@use "../../../../../Constant/color.scss" as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

@mixin Transition() {
    transition: all 0.1s linear;
}

.navigationLanguage_wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    position: relative;
    z-index: 0;
    outline: none;
    margin-left: -1.2rem;
}

.navigationLanguage_content {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;

    @include Transition();
}

.navigationLanguage_name {
    flex: 0 0 auto;
    color: $neutral_600;
    @include body_2();
}

.navigationLanguage_icon {
    width: 2rem;
    flex: 0 0 auto;
    margin-right: 0.8rem;
}

.navigationLanguage_dropdownIcon {
    font-size: 0.9rem;
    color: $neutral_600;
    margin-left: 0.9rem;
    @include Transition();
}

.navigationLanguage_list {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    padding-inline-start: 0;

    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    box-shadow: 0px 2px 8px rgba(26, 26, 26, 0.08), 0px 2px 4px rgba(26, 26, 26, 0.03);
    border-radius: 6px;
    width: 12rem;
    padding: 0.8rem 0.4rem;
    box-sizing: border-box;
    background-color: $background;
    opacity: 0;
    z-index: -999;
    pointer-events: none;
    visibility: hidden;
    @include Transition();
}

.navigationLanguage_item {
    height: 2.4rem;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin-bottom: 1.2rem;
    padding-left: 0.8rem;
    box-sizing: border-box;
    cursor: pointer;
    color: $neutral_400;
    list-style: none;
    @include label();
    &:last-child {
        margin-bottom: 0;
    }
}

.navigationLanguage_itemIcon {
    width: 2rem;
    margin-right: 0.8rem;
}

.navigationLanguage_itemActive {
    background: $primary_10;
    color: $primary_600;
}

.navigationLanguage_contentActive {
    background-color: $neutral_50;
    user-select: none;
    .navigationLanguage_dropdownIcon {
        transform: rotate(180deg);
    }
}

.navigationLanguage_listActive {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
    visibility: visible;
}
