/**
* @file  *** styles
* @date 2021-12-15
* @author xuejie.he
* @lastModify xuejie.he 2021-12-15
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../../../Constant/breakPoint.scss" as *;
@use "../../../../../Constant/font.scss" as *;
@use "../../../../../Constant/color.scss" as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/

@mixin iconContainer {
    width: 1.45rem;
    height: 0.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    cursor: pointer;
    user-select: none;
}

@mixin icon {
    font-size: 1.4rem;
    color: $line_light;
}

@mixin row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
}

@mixin col {
    width: 2.2rem;
    height: 2.2rem;
}

@mixin resetListStyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin readonly {
    cursor: auto !important;
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */
.dateTemp_top {
    height: 5.6rem;
    width: 100%;
    padding: 0 2.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    box-sizing: border-box;
    border-bottom: 0.1rem solid $neutral_100;
}

.dateTemp_pre {
    @include iconContainer();
    &:hover {
        .dateTemp_preIcon {
            transition: all 0.2s ease;
            color: rgba($primary_variant, 1);
        }
    }
}

.dateTemp_next {
    @include iconContainer();
    &:hover {
        .dateTemp_nextIcon {
            transition: all 0.2s ease;
            color: rgba($primary_variant, 1);
        }
    }
}

.dateTemp_preIcon {
    @include icon();
    transform: rotate(180deg);
}

.dateTemp_nextIcon {
    @include icon();
}

.dateTemp_monthAndYear {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.dateTemp_week {
    @include row();
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.dateTemp_weekItem {
    font: $fs_r_12;
    line-height: 1.8rem;
    width: calc(100% / 7);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dateTemp_row {
    @include resetListStyle();
    @include row();
    margin-top: 1rem;
}

.dateTemp_col {
    @include resetListStyle();
    line-height: 2.2rem;
    width: calc(100% / 7);
}

.dateTemp_dayContainer {
    font: $fs_r_14;
    width: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    color: $gray_1;
    border-radius: 50%;
    transition: all 0.2s ease;
    &.dateTemp_daySelected {
        background-color: $primary_variant;
        color: $background;
    }

    &.dateTemp_toDate {
        background-color: rgba($primary_variant, 0.2);
    }

    &.dateTemp_dayGray {
        color: $line_light;
    }
    &.dateTemp_disabled {
        cursor: not-allowed !important;
    }
    &.dateTemp_readonly {
        @include readonly();
    }
}

.dateTemp_yearContainer {
    margin-right: 1.6rem;
}

.dateTemp_dateTime {
    width: 100%;
    .dateTemp_row {
        margin-top: 0.6rem;
    }

    .dateTemp_week {
        margin-bottom: 0.7rem;
    }
}

.dateTemp_date {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dateTemp_table {
    line-height: 22.4rem;
}

@media (max-width: $md) {
    .dateTemp_table {
        width: calc(100% - 1.6rem);
        margin: 0 auto;
    }

    .dateTemp_top {
        padding: 0 1.3rem;
    }

    .dateTemp_yearContainer {
        margin-right: 0.8rem;
    }
}
