/**
* @file  *** styles
* @date 2021-08-18
* @author xuejie.he
* @lastModify mingzhou.zhang 2022-11-07
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */

@use "../../../Constant/font.scss" as *;
@use "../../../Constant/color.scss" as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin floatingWrap {
    background-color: $background;
    border-radius: 0.6rem;
    box-shadow: $shadow_small;
    box-sizing: border-box;
    padding: 1rem 0.4rem;
    [class*="scroll_scrollBody"] {
        max-height: 16rem;
    }
    [class*="scroll_scrollBar__vertical"] {
        right: 1.5px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 0.6rem;
        padding: 0.4rem 0;
    }
}

@mixin ellipseText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
$name: "dropDownListsV2_";
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */
.#{$name}floatingWrap__small {
    @include floatingWrap();
    .#{$name}labelContainer {
        padding: 0 1.2rem;
    }
    .#{$name}labelContent {
        font: $fs_r_12;
        color: $neutral_400;
        line-height: 3.2rem;
    }
    .#{$name}floatingLabels {
        .#{$name}labelHr {
            margin: 0;
        }
    }
}

.#{$name}floatingWrap__normal {
    @include floatingWrap();
    .#{$name}labelContainer {
        padding: 0 1rem;
    }
    .#{$name}floatingLabels {
        .#{$name}labelHr {
            margin: 0;
        }
    }
    .#{$name}labelContent {
        font: $fs_r_14;
        color: $neutral_400;
        line-height: 3.2rem;
    }
}

// default
.#{$name}floatingWrap__large {
    @include floatingWrap();

    [class*="scroll_scrollBar__vertical"] {
        margin-top: 1.2rem;
    }
    .#{$name}labelContainer {
        padding: 0 1rem;
    }
    .#{$name}labelContent {
        font: $fs_r_14;
        color: $neutral_400;
        line-height: 3.2rem;
    }
}

.#{$name}floatingWrap__extraLarge {
    .scroll_scrollBody {
        padding: 1rem 0;
    }
    @include floatingWrap();
    .#{$name}floatingLabel {
        margin-bottom: 0.6rem;
    }
    .#{$name}labelContainer {
        padding: 0 2rem;
    }
    .#{$name}labelContent {
        font: $fs_l_18;
        color: $gray_2;
        line-height: 3.2rem;
    }
    .#{$name}floatingLabelLast {
        margin-bottom: 0;
    }
}

.#{$name}floatingWrap_tags {
    [class*="scroll_scrollBody"] {
        max-height: 20.6rem;
    }
}

.#{$name}labelContent {
    width: 100%;
    height: 3.2rem;
    @include ellipseText();
    &.#{$name}labelSibling {
        width: calc(100% - 1.1rem);
    }
}

.#{$name}floatingLabel__error {
    .#{$name}labelContent {
        color: $danger_600;
    }
}
.#{$name}floatingLabels {
    .#{$name}labelHr {
        width: 100%;
        height: 1px;
        margin: 0.5rem 0;
        padding: 0;
        background-color: $not_activated;
    }
}

.#{$name}tags_container {
    width: 9.2rem;
    box-sizing: border-box;
    .#{$name}tags_item {
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        padding: 0.4rem 0.8rem;
        margin-bottom: 0.8rem;
        border-radius: 0.6rem;
        &:hover {
            background-color: $primary_100;
        }
    }
    .#{$name}tags_item:last-child {
        margin-bottom: 0;
    }
    .#{$name}tags_item__active {
        background-color: $primary_100;
    }
}

.#{$name}tags_item_content {
    @include c_label_1;
    display: inline-block;
    padding: 0.2rem 1.2rem;
    border-radius: 2rem;
    // height: 2.2rem;
}

.#{$name}labelContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    cursor: pointer;
}

.#{$name}labelIcon {
    font-size: 1rem;
    color: $gray_2;
}

.#{$name}container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0.6rem;
    transition: all 0.2s linear;
    padding: 1rem 1.2rem;
    outline: none;
}

.#{$name}container_tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    cursor: pointer;
    &:hover {
        background-color: $neutral_50;
    }
    &:focus {
        background-color: $neutral_50;
    }
    li {
        list-style: none;
    }
}

.#{$name}wrap {
    display: inline-flex;
    cursor: default;
    &__border {
        border: 1px solid $neutral_200;
        border-radius: 0.6rem;
        &:focus-within:not(.dropDownListsV2_wrap__disabled) {
            border-color: $primary_600 !important;
            box-shadow: 0 0 0 0.2rem rgba($color: $primary_500, $alpha: 0.3);
        }
    }
    &__disabled {
        border-color: $neutral_200;

        div,
        svg {
            color: $neutral_300 !important;
        }

        &:focus-within {
            border-color: $neutral_200;
            box-shadow: none;
        }
        .#{$name}container_tag {
            &:hover,
            &:focus {
                background-color: $background;
            }
        }
        .#{$name}dropdownIcon {
            color: $neutral_300;
        }
    }

    &:hover:not(.dropDownListsV2_wrap__disabled) {
        border-color: $primary_400;
    }
    &:hover:not(.dropDownListsV2_wrap__border) {
        background-color: $neutral_50;
    }
}

.dropDownListsV2_wrap__border.dropDownListsV2_wrap__disabled {
    background-color: $neutral_50;
}

.#{$name}placeholder {
    color: $line_light;
}

.#{$name}content {
    @include ellipseText();
    box-sizing: border-box;
    color: $neutral_500;
    width: calc(100% - 1.5rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.#{$name}placeholder,
.#{$name}content {
    font: $fs_r_14;
}

.#{$name}subFloatingWrap {
    @include floatingWrap();
    .#{$name}subFloatingLabel {
        padding: 0 1rem;
    }
}

.#{$name}subFloatingLabel {
    width: 100%;
    height: 3.2rem;
    line-height: 3.2rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
        background-color: rgba($primary_variant, 0.15);
    }
}

.#{$name}subFloatingIcon {
    color: $primary_variant;
    font-size: 0.8rem;
    margin-right: 0.85rem;
    opacity: 0;
    transition: all 0.2s ease;
}

.#{$name}subFloatingLabel__active {
    .#{$name}subFloatingIcon {
        opacity: 1;
    }
}

.#{$name}subFloatingContent {
    width: calc(100% - 2rem);
    @include ellipseText();
    font: $fs_r_14;
    color: $neutral_400;
}

.#{$name}floatingLabel,
.#{$name}floatingLabelLast {
    &:hover {
        background-color: rgba($primary_variant, 0.15);
    }
}

.#{$name}floatingLabelActive {
    .#{$name}labelContent {
        color: $primary_variant;
    }
    svg {
        color: $primary_600 !important;
    }
}

.#{$name}floatingLabel__hoverActive {
    background-color: rgba($primary_variant, 0.15);
}

.#{$name}dropdownIcon {
    font-size: 1.2rem;
    color: $neutral_500;
    transition: all 0.2s ease;
    &_prefix {
        margin-right: 1.2rem;
    }
    &_suffix {
        margin-left: 1.2rem;
    }
}

.#{$name}cutLine {
    margin: 0 0.5rem;
}
