/**
* @file  *** styles
* @date 2022-03-24
* @author xuejie.he
* @lastModify xuejie.he 2022-03-24
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../Constant/font.scss" as *;
@use "../../../Constant/color.scss" as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/* <--------------------------- * SECTION1 * --------------------------- */
.tableHeader_list {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    padding-inline-start: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    height: 100%;
    position: relative;
}

.tableHeader_item {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    font: $fs_r_16;
    color: $gray_1;
    background-color: #f8fafa;
    position: relative;
    &:hover {
        .tableHeader_moveIcon {
            opacity: 1;
        }
    }
}

.tableHeader_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.tableHeader_moveIcon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    font-size: 2.2rem;
    color: $line_light;
    transform: rotate(90deg);
    z-index: 0;
    user-select: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.tableHeader_drag {
    cursor: move;
}

.tableHeader_itemContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.tableHeader_sortContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    cursor: pointer;
    user-select: none;
    width: 0;
    transform: translateX(-0.5rem);
}

.tableHeader_upIcon__active,
.tableHeader_downIcon__active {
    color: $primary_variant !important;
}

.tableHeader_upIcon {
    font-size: 0.8rem;
    transform: rotate(180deg);
    color: $gray_5;
}

.tableHeader_downIcon {
    font-size: 0.8rem;
    color: $gray_5;
}

.tableHeader_sticky {
    position: sticky;
    z-index: 2;
}

.table_toRight {
    &::after {
        content: "";
        width: 5px;
        position: absolute;
        z-index: 2;
        right: -5px;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    }
}

.table_toLeft {
    &::after {
        content: "";
        z-index: 2;
        width: 5px;
        position: absolute;
        left: -5px;
        height: 100%;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    }
}

.tableHeader_border {
    box-sizing: border-box;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: $not_activated $not_activated transparent $not_activated;
        z-index: 3;
        box-sizing: border-box;
        pointer-events: none;
    }
    .tableHeader_itemContainer {
        border-width: 1px;
        border-style: solid;
        border-color: transparent transparent transparent $not_activated;
    }
    .tableHeader_item {
        &:first-of-type {
            .tableHeader_itemContainer {
                border-left-color: transparent;
            }
        }
    }
}

.tableHeader_dragContext {
    position: absolute;
    z-index: 1;
    background-color: #f8fafa;
    color: $gray_1;
    font: $fs_r_14;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    top: 0;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid $not_activated;
}

.tableHeader_dragContext_text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1.5rem;
}

.tableHeader_active {
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px dotted $primary_variant;
        z-index: 10;
        box-sizing: border-box;
        pointer-events: none;
    }
}
