/**
* @file  *** styles
* @date 2022-04-13
* @author xuejie.he
* @lastModify xuejie.he 2022-04-13
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../Constant/font.scss" as *;
@use "../../../Constant/color.scss" as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/* <--------------------------- * SECTION1 * --------------------------- */

.navigationDashboard_wrap {
    display: inline-flex;
    align-items: center;
    margin-left: 5rem;
    margin-right: 1.2rem;
    justify-content: center;
    font: $fs_m_16;
    letter-spacing: 0.15px;
    color: $primary_700;
    cursor: pointer;
}
