/**
* @file 
* @date 2023-02-23
* @author xuejie.he
* @lastModify xuejie.he 2023-02-23
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../Constant/breakPoint.scss" as *;
@use "../../../Constant/font.scss" as *;
@use "../../../Constant/color.scss" as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

.avatar_wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    flex: 0 0 auto;
}

.avatar_icon {
    color: $neutral_300;
}

.avatar_nickname {
    color: #ffffff;
    background-color: $primary_600;
}

.avatar_circle {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar_rect {
    overflow: hidden;
    position: relative;
}

.avatar_size__ {
    &20 {
        width: 2rem;
        height: 2rem;

        .avatar_icon {
            font-size: 2rem;
        }

        &.avatar_nickname {
            @include label();
        }

        &.avatar_rect {
            border-radius: 4px;
        }
    }

    &28 {
        width: 2.8rem;
        height: 2.8rem;
        .avatar_icon {
            font-size: 2.8rem;
        }
        &.avatar_nickname {
            @include body_2();
        }
        &.avatar_rect {
            border-radius: 4px;
        }
    }

    &32 {
        width: 3.2rem;
        height: 3.2rem;
        .avatar_icon {
            font-size: 3.2rem;
        }
        &.avatar_nickname {
            @include subtitle_2();
        }
        &.avatar_rect {
            border-radius: 6px;
        }
    }

    &36 {
        width: 3.6rem;
        height: 3.6rem;
        .avatar_icon {
            font-size: 3.6rem;
        }
        &.avatar_nickname {
            @include h_3();
        }
        &.avatar_rect {
            border-radius: 6px;
        }
    }

    &60 {
        width: 6rem;
        height: 6rem;
        .avatar_icon {
            font-size: 6rem;
        }
        &.avatar_nickname {
            @include h_1();
        }
        &.avatar_rect {
            border-radius: 6px;
        }
    }

    &80 {
        width: 8rem;
        height: 8rem;
        .avatar_icon {
            font-size: 8rem;
        }
        &.avatar_nickname {
            font: $fs_r_40;
            line-height: 3.6rem;
            letter-spacing: 0;
        }
        &.avatar_rect {
            border-radius: 6px;
        }
    }
}

.avatar_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.avatar_loadingCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar_loading {
    position: absolute;
}
