/**
* @file 
* @date 2023-06-17
* @author xuejie.he
* @lastModify xuejie.he 2023-06-17
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../Constant/breakPoint.scss" as *;
@use "../../../Constant/font.scss" as *;
@use "../../../Constant/color.scss" as *;
@use "../../../Constant/mixin.scss" as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
.contactsDropdown_body {
    background: $white;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;

    box-shadow: $shadow_regular;
}

.contactsDropdown_closeBtn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    &:hover {
        .contactsDropdown_closeIcon {
            transform: scale(1.4);
        }
    }
}

.contactsDropdown_closeIcon {
    @include IconCenter();
    font-size: 1.2rem;
    color: $neutral_300;
    @include Transition();
}
