/**
* @file  *** styles
* @date 2022-03-03
* @author xuejie.he
* @lastModify xuejie.he 2022-03-03
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */

@use "../../../Constant/color.scss" as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/* <--------------------------- * SECTION1 * --------------------------- */
.markButton_wrap {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: $primary_10;
    }
}

.markButton_kite {
    div[class*="kite_body"] {
        width: auto;
        height: auto;
        padding: 5px 8px;
        white-space: nowrap;
    }
}
