/**
* @file  *** styles
* @date 2022-03-11
* @author xuejie.he
* @lastModify xuejie.he 2022-03-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../Constant/font.scss" as *;
@use "../../../Constant/color.scss" as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
.editorBackground_wrap {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: $primary_10;
    }
}

.editorBackground_kite {
    div[class*="kite_body"] {
        width: auto;
        height: auto;
        padding: 5px 8px;
        white-space: nowrap;
    }
}

.editorBackground_clear {
    font: $fs_r_12;
    letter-spacing: 0.25px;
    border: 1px solid transparent;
    transition: border-color 0.1s linear;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    cursor: pointer;
    line-height: 2.4rem;
    box-sizing: border-box;
    border-radius: 2px;
    &:hover {
        border-color: rgba($type, 0.5);
    }
}

.editorBackground_clearIcon {
    font-size: 1.4rem;
    color: $type;
    margin-right: 0.5rem;
}
