/**
* @file 宽度自适应的popover
* @date 2023-04-11
* @author xuejie.he
* @lastModify xuejie.he 2023-04-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../../../../../Constant/breakPoint.scss" as *;
@use "../../../../../Constant/font.scss" as *;
@use "../../../../../Constant/color.scss" as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

.autoSizePopover_body {
    width: auto;
    height: auto;
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgba($type, 0.7);
    box-shadow: $shadow_06dp;
    color: $background;
    font: $fs_r_12;
    line-height: 2rem;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
